.cart{
    padding:30px
}
.cart-title{
    font-weight: 600;
    font-size: 32px;
    padding-bottom: 5px;
    border-bottom: 3px solid teal;
    width:max-content;
 margin-bottom: 20px;
}
.cart-wrapper{
    display: flex;
    /* align-items: center; */
}
.cart-items{
    width: 70%;
}
.cart-item{
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
    margin-bottom: 21px;
    border-bottom: 2px solid grey;
}
.cart-item-img{
    width: 140px;
    height: 180px;
    object-fit: contain;
}
.cart-info{
    padding: 10px;
    width: calc(100% - 140px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}
.cart-quantity{
    font-size: 24px;
    margin-bottom: 5px;
}
.cart-quantity button{
    cursor: pointer;
    padding: 5px;
    font-size: 17px;
}
.cart-quantity b{
    font-size: 24px;
    margin: 0 10px;
}
.cart-price{
    font-size: 24px;
    text-align: center;
}
.trash-icon{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 30px;
    color: crimson;
    cursor: pointer;
}
.cart-summary{
    width: 30%;
    margin: 0 10px;
}
.cart-summary-title{
    font-size: 24px;
    padding: 15px 10px;
    border-bottom: 1px solid gray;
}
.total-price-cart{
    font-size: 20px;
    padding: 15px 10px;
    color: crimson;
    font-weight: 500;
}